@model IEnumerable<BrahmaServer.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftStartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftEndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
